<div class = 'container' ng-controller = 'LogosCtrl'>
	<div class = 'row'>
	    <div class = 'col-md-12'>
	      	<img src="images/logos/logotipos-header.png" class="img-responsive" alt="Responsive image">
	    </div>
	</div>
	<div class = 'row altura center-block logos'>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/vivalafatmark-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/gallo-malaguena-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/cardenales-rebeldes-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/fork-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/big-thunder-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/gabriel-ponce-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/ymtbb-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/2767-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/white-fatal-smille-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
		<div class = 'col-md-3 col-xs-6'>
			<img src="images/logos/los-aos-locos-01.png" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image">
		</div>
	</div>
</div>