<div class = 'container' ng-controller = 'LogosCtrl'>
	<div class = 'row'>
	    <div class = 'col-md-12'>
	      	<!-- <img src="images/logos/logotipos-header.png" class="img-responsive" alt="Responsive image"> -->
		    <carousel interval="myInterval">
		      <slide ng-repeat="slide in slides" >
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		        <div class="carousel-caption">
		        </div>
		      </slide>
		    </carousel>
	    </div>
	</div>
	<div class = 'row altura center-block logos'>
		<div class = 'col-md-3 col-xs-6' ng-repeat = 'logo in logos'>
			<img src="{{logo.logo}}" class= 'center-block img-responsive margin-alutas-textil' alt="Responsive image" ng-click = 'ClickLogo(logo)'>
		</div>
	</div>
</div>