<div class = "container">
  <div class = 'row'>
    <div class = 'col-md-12'>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="images/slide1.png" alt="...">
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <img src="images/slide2.png" alt="...">
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <img src="images/slide3.png" alt="...">
            <div class="carousel-caption">
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
    </div>
  </div>
  <div class = 'row altura'>
    <div class = 'col-md-12'>
      <div class = 'row'>
        <div class = 'col-xs-6 col-md-4'>
          <a ui-sref="home.textil">
            <div class="thumbnail color-gray">
              <img src="images/ilustracion-en-textil-icon.png">
            </div>
            <div class="caption">
              <h4>Ilustración en textil</h4>
            </div>
          </a>
        </div>
        <div class = 'col-xs-6 col-md-4'>
          <div class="thumbnail color-gray">
            <img src="images/Logotipos.png">
          </div>
          <div class="caption">
            <h4>Logotipos</h4>
          </div>
        </div>
        <div class = 'col-xs-6 col-md-4'>
          <div class="thumbnail color-gray">
            <img src="images/videos.png">
          </div>
          <div class="caption">
            <h4>video</h4>
          </div>
        </div>
        <div class = 'col-xs-6 col-md-4'>
          <div class="thumbnail color-gray">
            <img src="images/social-media.png">
          </div>
          <div class="caption">
            <h4>social media</h4>
          </div>
        </div>
        <div class = 'col-xs-6 col-md-4'>
          <div class="thumbnail color-gray">
            <img src="images/apps.png">
          </div>
          <div class="caption">
            <h4>apss</h4>
          </div>
        </div>
        <div class = 'col-xs-6 col-md-4'>
          <div class="thumbnail color-gray">
            <img src="images/web.png">
          </div>
          <div class="caption">
            <h4>web</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = 'row background-bio'>
    <div class = 'col-md-12'>
      <div class = 'row'>
        <div class = 'col-md-4 imagenes-marge hidden-xs'>
          <img src="images/rosas-izquierda.png" class = 'imagenes-posision'>
        </div>
        <div class = 'col-md-4 col-xs-12'>
          <img src="images/foto-gab.png" class = 'foto-gab img-responsive' alt="Responsive image">
        </div>
        <div class = 'col-md-4 imagenes-marge hidden-xs'>
          <img src="images/rosas-derecha.png" class = 'pull-right imagenes-posision'>
        </div>
        <div class = 'col-md-8 col-md-offset-2 margin-abajo col-xs-12'>
          <p>Originario de la ciudad de  Guadalajara y actualmente residiendo en el Distrito Federal;
          Gabriel Ponce(A.K.A. Higashi Gab) presenta en este espacio, algunos de sus principales proyectos. </p>

          <p>En el 2008, se dispone a abandonar la carrera de diseño gráfico para comenzar con su más grande
          y prodigioso proyecto: <strong>VIVALAFATMARK</strong>, marca  de street wear que ha dejado huella por su calidad visual y textil a lo largo de 6 años aún nivel de firmas internacionales relacionadas a la moda urbana. </p>

          <p>Fuera de los proyectos personales G. se enfoca en el ámbito de agencias digitales, ha formado parte del diseño de imagen de programas de tv locales en Guadalajara, pasando por agencias dedicadas al social media, creación de paginas web y diseño de APPS.</p>
        </div>
      </div>

    </div>
  </div>
</div>